* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.boot-nav {
  backdrop-filter: blur(25px);
  font-size: 18px;
  .navbarr {
    .ul {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
    }
    .linkk {
      text-decoration: none;
      background-image: linear-gradient(
        130deg,
        #ffee00 15%,
        rgb(224, 165, 175),
        #3a055c
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: color 0.3s ease-in-out;
      text-transform: capitalize;

      &::after {
        content: "";
        width: 0;
        background-color: rgba(114, 45, 182, 0.877);
        height: 2px;
        display: block;
        //transform-origin: left;
        transition: width 0.4s;
      }

      &:hover::after {
        text-decoration: none;
        //transform-origin: center;
        width: 100%;
      }
    }
  }
}

.burger {
  background-color: transparent;
  border: none;
  outline: none;
  &:focus {
    outline: none;
  }
}
.logo {
  cursor: pointer;
  color: rgb(148, 105, 185);
  font-size: 23px;
  font-weight: 900;
  text-shadow: 2px -2px 3px rgb(47, 3, 88), 2px -2px 3px rgb(75, 2, 82);
}
.burger-line {
  width: 60px;
  height: 7vh;
  padding-top: 13px;
  background-color: transparent;
  cursor: pointer;
  &:hover .line:nth-child(1) {
    transform: translateX(10px);
    transition: transform 0.4s ease-in-out;
  }
  &:hover .line:nth-child(3) {
    transform: translateX(-10px);
    transition: transform 0.4s ease-in-out;
  }

  .line {
    background-color: rebeccapurple;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 1px;
    border-radius: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .boot-nav .navbarr ul {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
  }
}
